<h4 class="text-center title-decoration">Cadastre-se</h4>

<form (submit)="$event.preventDefault()">
    <div class="mb-3">
        <label class="form-label">E-mail</label><label class="color-red">*</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="newUser.email" placeholder="exemplo@email.com">
    </div>
    <div class="mb-3">
        <label class="form-label">Senha</label><label class="color-red">*</label>
         <input type="password" class="form-control" name="password" [(ngModel)]="newUser.password" placeholder="Mínimo 6 caracteres">
    </div>

    <div class="mb-4" >
        <label class="form-label">Confirmar Senha</label><label class="color-red">*</label>
        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="newUser.confirmPassword" placeholder="Repita a senha">
    </div>

    <div class="d-grid gap-2 mt-3">
        <button type="button" mat-flat-button (click)="signUp()">
            <mat-icon>how_to_reg</mat-icon>
            Criar conta
        </button>
    </div>

    <div class="d-grid gap-2 mt-3 text-center">
        <button type="button" (click)="goToLogin()" mat-button color="primary">
            <mat-icon>arrow_back</mat-icon>
            Já tenho uma conta
        </button>
    </div>
</form>