body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.login-wrapper {
    min-height: 100vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;

    background-image: url('/img/background-login.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.main-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 1100px;
    margin: auto; 
}

.side-image {
    background-image: url('/img/Libras.jpg');
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px;
    position: relative;
}

.side-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.side-form {
    background-color: #ffffff;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.enter-by-right {
  animation: slideFromRight 0.4s ease-out forwards;
}

.enter-by-left {
  animation: slideFromLeft 0.4s ease-out forwards;
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 767.98px) {
    .side-image {
        min-height: 250px;
    }

    .img-libras-corner {
        display: none;
    }
}