.img-libras-corner {
    position: absolute;
    bottom: 20px;
    left: 20px;
    max-height: 100px;
    width: auto;
    z-index: 5;
    opacity: 0.9;
}

.side-image-content {
    position: relative;
    z-index: 2;
    text-align: center;
}