<div class="dashboard-container">

  <mat-toolbar class="main-toolbar">
    <button mat-button (click)="sidenav.toggle()" class="nav-btn nav-title-btn text-center">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="center-nav">
      <button mat-button class="nav-title-btn ps-5 pe-5">CAS Guarapuava</button>
    </div>

    <span class="spacer"></span>

    <span class="user-email me-3">brunaquadros.bio&#64;gmail.com</span>

    <button mat-button class="nav-btn nav-title-btn" (click)="Logout()">
      <mat-icon class="text-center">logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-wrapper">

    <mat-sidenav #sidenav mode="side" opened="true" class="custom-sidenav">
      <mat-nav-list class="nav-pill-list">
        <div class="text-center mt-3 mb-3">
          <img src="img/logo.png" alt="Logo" class="logo-img">
        </div>
        @if (authService.isAdmin()) {
        <a mat-list-item routerLink="/home/configuration" routerLinkActive="active-link">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span matListItemTitle>Configuration - adms</span>
        </a>
        }

        @if (authService.isUser()) {
        <a mat-list-item routerLink="/home/userConfiguration" routerLinkActive="active-link">
          <mat-icon matListItemIcon>groups</mat-icon>
          <span matListItemTitle>User config - user</span>
        </a>
        }

   
        <a mat-list-item routerLink="/home/welcome" routerLinkActive="active-link">
          <mat-icon matListItemIcon>settings</mat-icon>
          <span matListItemTitle>Welcome - all</span>
        </a>
        
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content-area">
      <div class="inner-content">
         <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>